@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between;
    height: 100vh;
}

.outer-container {
    display: flex;
    height: 720px;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 10px;
}

.container {
    max-width: 700px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.container .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #000;
}

.container form .details-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .details-box .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.details-box .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.details-box .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.details-box .input-box textarea {
    height: 100px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
}

.details-box .input-box input:focus,
.details-box .input-box input:valid,
.details-box .input-box textarea:focus {
    border-color: #000
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: #000;
    transition: all 0.3s ease;
}

form .button input:hover {
    background: #5c5c5c;
    transition: all 0.3s ease;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(100, 100, 100);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: white;
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .details-box .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
}

@media (max-height: 650px) {
    .outer-container {
        align-items: initial;
    }
}
