body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
    background-color: #f1f1f1 !important;
}

.conteudo{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(100, 100, 100);
    color: white;
    text-align: center;
    padding: 10px 0;
}

.grafico{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 10px;
}

.highcharts-figure{
    margin: 0px !important;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
}



.botao, .botao2, .botao3, .botao4 {
    width: 80px;
    z-index: 1;
}

.sidebar{
    width: 20vw;
    height: 100vh;
}

.nav-link{
    transition: none !important;
}

.nav-item:hover{
    background-color: #0d6efd;
    border-radius: .25rem;
}

/*GRAPH*/

#container {
    height: 400px;
    border-radius: 10px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: fit-content;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.flip-card-inner{
    width: fit-content;
    height: none !important;
}

/*GRAPH 2*/

/*#container2 {
    height: 400px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#sliders td input[type="range"] {
    display: inline;
}

#sliders td {
    padding-right: 1em;
    white-space: nowrap;
}*/


.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container2 {
    height: 400px;
    border-radius: 10px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}



/*GRAPH 3*/


#container3 {
    height: 400px;
    border-radius: 10px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}



/*CARD FLIP*/
  

 /* .cardFlip {
    margin: 20px;
    width: 500px;
    height: 500px;
    perspective: 1000px;
  }
  
  .card {
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .front, .back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  }
  
  .front {
    border: 2px solid black;
  }
  
  .back {
    border: 2px solid black;
    transform: rotateY(180deg);
  }
  */

    /*.front:hover {
    bottom: 2px;
    left: 2px;
    box-shadow: 0px 0px 20px 1px #000;
  }*/

   /*.back:hover {
    bottom: 2px;
    right: 2px;
    box-shadow: 0px 0px 20px 1px #000;
  }*/




/*GRAPH 4*/


.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container4 {
    height: 400px;
    border-radius: 10px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}




/*GRAPH 5*/

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


/*GRAPH 6*/


.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container6 {
    height: 400px;
    border-radius: 10px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}



/*GRAPH 7*/


.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container7 {
    height: 400px;
    border-radius: 10px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


/*GRAPH 8*/


.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container8 {
    height: 400px;
    border-radius: 10px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


/*CARD 1*/

  body
  {
      background: #cfd8dc;
  }
  
  .card-container
  {
      font-family: 'Open Sans', sans serif;
      font-size: 120px;
      font-weight: bold;
  
      /*margin: 80px auto;*/
  
      /*border-radius: 10px;*/
  
      perspective: 1400px;
  }
  
  .card
  {
      position: relative;
  
      height: 100%;
  
      background-color: transparent !important;
      /*border-radius: 10px;*/
  
      width: 100%;
      transform-style: preserve-3d;

      border: none !important;
  }
  
  .front,
  .back
  {
      display: flex;
  
      width: 100%;
      height: 100%;
  
      border-radius: 10px;
  
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
  }
  
  .front
  {
      color: #fff;
      /*background: #2196f3;*/
  }
  
  .back
  {
      position: absolute;
      top: 0;
      left: 0;
  
      transform: rotateY(180deg);
  
      /*color: #2196f3;*/
  }



  /*CARD 2*/


  .card-container2
  {
      font-family: 'Open Sans', sans serif;
      font-size: 120px;
      font-weight: bold;
  
      /*margin: 80px auto;*/
  
      /*border-radius: 10px;*/
  
      perspective: 1400px;
  }
  
  .card2
  {
      position: relative;
  
      height: 100%;
  
      /*border-radius: 10px;*/
  
      width: 100%;
      transform-style: preserve-3d;

      border: none !important;
  }
  
  .front2,
  .back2
  {
      display: flex;
  
      width: 100%;
      height: 100%;
  
      border-radius: 10px;
  
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
  }
  
  .front2
  {
      color: #fff;
      /*background: #2196f3;*/
  }
  
  .back2
  {
      position: absolute;
      top: 0;
      left: 0;
  
      transform: rotateY(180deg);
  
      /*color: #2196f3;*/
  }




  /*CARD 3*/


  .card-container3
  {
      font-family: 'Open Sans', sans serif;
      font-size: 120px;
      font-weight: bold;
  
      /*margin: 80px auto;*/
  
      /*border-radius: 10px;*/
  
      perspective: 1400px;
  }
  
  .card3
  {
      position: relative;
  
      height: 100%;
  
      /*border-radius: 10px;*/
  
      width: 100%;
      transform-style: preserve-3d;

      border: none !important;
  }
  
  .front3,
  .back3
  {
      display: flex;
  
      width: 100%;
      height: 100%;
  
      border-radius: 10px;
  
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
  }
  
  .front3
  {
      color: #fff;
      /*background: #2196f3;*/
  }
  
  .back3
  {
      position: absolute;
      top: 0;
      left: 0;
  
      transform: rotateY(180deg);
  
      /*color: #2196f3;*/
  }




  /*CARD 4*/


  .card-container4
  {
      font-family: 'Open Sans', sans serif;
      font-size: 120px;
      font-weight: bold;
  
      /*margin: 80px auto;*/
  
      /*border-radius: 10px;*/
  
      perspective: 1400px;
  }
  
  .card4
  {
      position: relative;
  
      height: 100%;
  
      /*border-radius: 10px;*/
  
      width: 100%;
      transform-style: preserve-3d;

      border: none !important;
  }
  
  .front4,
  .back4
  {
      display: flex;
  
      width: 100%;
      height: 100%;
  
      border-radius: 10px;
  
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
  }
  
  .front4
  {
      color: #fff;
      /*background: #2196f3;*/
  }
  
  .back4
  {
      position: absolute;
      top: 0;
      left: 0;
  
      transform: rotateY(180deg);
  
      /*color: #2196f3;*/
  }